<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find wamv_description)/urdf/thrusters/engine.xacro" />
  <xacro:engine prefix="left" position="0.7 0.7 0.318237" />
  <xacro:engine prefix="right" position="0.7 -0.7 0.318237" />
  <xacro:engine prefix="left1" position="-0.7 0.7 0.318237" />
  <xacro:engine prefix="right1" position="-0.7 -0.7 0.318237" />
  <gazebo>
    <plugin name="wamv_gazebo_thrust" filename="libusv_gazebo_thrust_plugin.so">
      <cmdTimeout>1.0</cmdTimeout>
      <publisherRate>200.0</publisherRate>
      <robotNamespace>${namespace}</robotNamespace>
      <xacro:include filename="$(find wamv_gazebo)/urdf/thruster_layouts/wamv_gazebo_thruster_config.xacro" />
      <xacro:wamv_gazebo_thruster_config name="left" />
      <xacro:wamv_gazebo_thruster_config name="right" />
      <xacro:wamv_gazebo_thruster_config name="left1" />
      <xacro:wamv_gazebo_thruster_config name="right1" />
    </plugin>
  </gazebo>
</robot>
