<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="green_material">
    <color rgba="0 1 0 1"/> <!-- Verde -->
  </material>
  <xacro:macro name="wamv_top_base" params="name:='top_base'  x:=0.55 y:=0.35 z:=1.4 pitch:='0' yaw:='0'">
   
    <link name="${namespace}/${name}_base_link">
      <visual name="${name}_base_visual">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
                    <sphere radius="0.0285">
          </sphere>
        </geometry>
      </visual>
      <inertial>
        <origin xyz="-0.02 0 0.05" rpy="0 0 0" />
        <mass value="0.5"/>
        <inertia ixx="0.00083" ixy="0.0" ixz="0.0" iyy="0.00052083" iyz="0.0" izz="0.00052083"/>
      </inertial>
    </link>



    <joint name="${namespace}/${name}_base_joint" type="revolute">
      <axis xyz="0 0 1"/>
      <limit effort="1000.0" lower="0.0" upper="0" velocity="0"/>
      <origin xyz="${x} ${y} ${z}" rpy="0 0 ${yaw}"/>
      <parent link="${namespace}/base_link"/>
      <child link="${namespace}/${name}_base_link"/>
    </joint>
 
  </xacro:macro>
</robot>
